<!DOCTYPE html>
<html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <img class="img-circle" src="prfpic.jpg" width="60" height="60" caption align="left"/></img>
                    <h3 class="title">Neeraja</h3>
               <nav>
                    <ul>
                        <li><a href="http://127.0.0.1:8081/index.html">Home</a></li>
                        <li><a href="http://127.0.0.1:8081/yourchoice.html">YourChoice</a></li>
                        <li><a href="http://127.0.0.1:8081/contact.html">Contact</a></li>
                        <li><a href="http://127.0.0.1:8081/index">Guestbook</a></li>
                   </ul>
                </nav>
            </header>
            </div>
<h1>
Express Guestbook
<a href="http://127.0.0.1:8081/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
</html>
